<h1>Books</h1>

<!-- 一覧部分 -->
<p class="index-title">Title</p>
<p class="index-body">Body</p>

<% @books.each do |list| %>
  <span><%= list.title %></span>
  <span><%= list.body %></span>

<!-- Showへのリンク -->
<%= link_to 'Show', book_path(list.id) %>
<%#  <%= link_to 'Edit', edit_book_path(book.id) %>
<%#  <%= link_to 'Destroy', destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

<% end %>



