<!-- フラッシュメッセージ表示 -->
<div>
  <p class="notice"><%= flash[:notice] %></p>
</div>

<h1 class="main-title">Books</h1>

<!-- 投稿一覧表示 -->
<p class="index-title">Title</p>
<p class="index-body">Body</p>

<% @books.each do |list| %>
  <span><%= list.title %></span>
  <span><%= list.body %></span>

  <!-- Showへのリンク -->
  <p>
    <a><%= link_to 'Show', book_path(list.id) %></a>
  </p>
  <!-- Editへのリンク -->
  <p>
    <a><%= link_to 'Edit', edit_book_path(list.id) %></a>
  </p>
  <!-- Destroyへのリンク -->
  <p>
    <a><%= link_to 'Destroy', destroy_book_path(list.id), method: :delete, "data-confirm" => "Are you sure?" %></a>
  </p>
<% end %>


<!-- 新規投稿部分 -->
<h2 class="sub-title">New book</h2>

<!-- エラーメッセージ -->
<div class="error-box">
  <% if @book.errors.any? %>
    <h3><%= @book.errors.count %> errors prohibited this book from being saved:</h3>
    <div class="error-message">
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<!-- 投稿部分 -->
<div class="field">
  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Body</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>
</div>