<!-- フラッシュメッセージ表示 -->
<div>
  <p class="notice"><%= flash[:notice] %></p>
</div>

<!-- 投稿詳細表示 -->
<p class="edit-title">
  <b>Title: </b><%= @book.title %>
</p>
<p class="edit-body">
  <b>Body: </b><%= @book.body %>
</p>

<!-- リンク -->
<%= link_to "Edit", edit_book_path(@book), class: "edit_link" %>
|
<%= link_to "Back", '/books', class: "back_link" %>