<!-- フラッシュメッセージ表示 -->
<div>
  <p class="notice"><%= flash[:notice] %></p>
</div>

<!-- 投稿詳細表示 -->
<p class="edit-title">
  <b>Title: </b><%= @book.title %>
</p>
<p class="edit-body">
  <b>Body: </b><%= @book.body %>
</p>

<!-- リンク -->
<a><%= link_to 'Edit', edit_book_path(@book.id) %></a>
|
<a><%= link_to 'Back', '/books' %></a>